body {
  background-image: url('https://img.freepik.com/fotos-premium/tecido-branco-abstrato-com-fundo-de-textura-ondulada-suave_293060-5209.jpg?w=2000');
  background-repeat: repeat;
  background-size: cover;
  align-items: center;
}